//
    首页集成了base-page，改变content
extends base-page
block content
    div.span24
        div.row-fluid.show-grid
            div.span4
            div.span10
                ul
                    li
                        a(href="create/create.html") 创建一个blog吧，亲
            div.span10
